
body{
    background-image:  url("great\ india.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: gainsboro;
    
}

#navbar{
    background-color: black;
    height: 90px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    
}
#oval{
   margin-right: 20px;
   color: white;
   display: inline-block;
}
#oval{
    
    height: 60px;
    width: 120px;
    background-color: white;
    background-image: url("amazon.webp");
    background-size: cover;
    border:2px solid black;
}
#oval:hover{
    border: 2px solid white;
}
.color{
    display: inline-block;
    
    text-align: center;
    border: 2px white;

} 
.color:hover{
    border: 2px white;

}

.ran6{
    position: absolute;
    top: 20px;
    left: 190px;
    
}

#siwan{
color: white;
margin-right: 20px;
margin-bottom: 10%;
height: 50px;
width: 180px;

}
#siwan:hover{
    border: 2px solid white;
}
#fgt{
    height: 50px;
    width: 100px;
    border: 2px solid white;
   
}
#ga1{
    background-color: #f08804;
    height: 46px;
    width: 53px;
    
    font-size: 25px;
    
}
#ga1:hover{
    border: 2px solid white;
}
#ga3{
    height: 40px;
    width: 900px;
    font-size: 25px;
}
#ga3:hover{
    border: 2px solid white;
}
#zx2{
    color: white;
    margin-left: 20px;
    font-size: 20px;
}
.zx3{
    line-height: 0.0cm;
    color: white;
    
    
}
#ga4{
    height: 45px;
    width: 50px;
    background-color: rgb(188, 187, 187);
    font-size: 20px;
    

}
#ga4:hover{
    border: 2px solid white;
}
#ga5{
    margin-left: -49px;
    
}
#ga6{
    background-color: rgb(116, 116, 116);
}
#country{
    height: 30px;
    width: 80px;
    color: white;
    background-color: none;
    font-size: 20px;
    margin-left: 20px;
    border: none;
    
}
#country:hover{
    border: 2px solid white;
}
#country2{
    height: 25px;
    width: 70px;
    color: white;
    background-color: #0c0e0e;
    border: none;
    font-size: 20px;
    
}
#vn{
    height: 60px;
    width: 170px;
    /* margin-left: -26px; */
    
}
#vn1{
    height: 60px;
    width: 100px;
    

}
#vn:hover{
    border: 2px solid white;
}
#vn1:hover{
    border: 2px solid white;
}
#vn3{
    height: 50px;
    width: 100px;
    margin-left: 20px;

}
#vn3:hover{
    border: 2px solid white;
}
#vn4{
    background-color: #0c0e0e;
    color: white;
    border: none;
    font-size: 17px;
}

#ll{
     height: 50px;
     width: 100%;
     background-color: rgb(21, 22, 22);
     position: absolute;
     top: 88px;
     left: 0px;
     
     
}
.ra{
    display: inline-block;
    color: white;
    margin-left: 20px;
   }
   #mr3{
    margin-left: 390px;
   }
   #lol{
    background-color: #0c0e0e;
    color: white;
    text-align: center;
    height: 70px;
   }
  .new{
    height: 705px;
    width: 460px;
    border: 2px solid black;
    margin-top: 30%;
    display:inline-block;
    background-color: white;
  }
  
.gh{
    margin-top: 100%;
}
.pk{
    margin-top: 119%;
}

  .nw{
    height: 260px;
    width: 223px ;
    display: inline-block;
    
    }
#pk1{
    background-image: url("airc1\ .jpg");
    background-size: cover;
}
#pk2{
    background-image: url("refre.jpg");
    background-size: cover;
}
#pk3{
    background-image: url("microwaves2.jpg");
    background-size: cover;
}
#pk4{
    background-image: url("washing\ ma.jpg");
    background-size: cover;
}
#pk5{
    background-image: url("boat.webp");
    background-size: cover;
}
#pk6{
    background-image: url("boult2.webp");
    background-size: cover;
}
#pk7{
    background-image: url("noise.webp");
    background-size: cover;
}
#pk8{
    background-image: url("zebronics.webp");
    background-size: cover;
}
#pk9{
    background-image: url("diaper.webp");
    background-size: cover;
}
#pk10{
    background-image: url("high\ chair.jpg");
    background-size: cover;
}
#pk11{
    background-image: url("soft\ toy.jpg");
    background-size: cover;
}
#pk12{
    background-image: url("indoor.jpg");
    background-size: cover;
}
#pk13{
    background-image: url("keyboard.jpg");
    background-size: cover;
}
#pk14{
    background-image: url("mice2.jpg");
    background-size: cover;
}
#pk15{
    background-image: url("headseat.jpeg");
    background-size: cover;
}
#pk16{
    background-image: url("chair.jpg");
    background-size: cover;
}


    .class1{
        height: 300px;
        width: 100%px;
        background-color: rgb(162, 162, 162);
        margin-top: 5%;
       
    }
    .sum{
        height: 242px;
        width: 240px;
        /* background-color: rgb(26, 106, 176); */
        display: inline-block;
        margin-right: 20px;
    }
    #aa1{
        background-image: url("perfume2.webp");
        background-size: cover;
    }
    #aa2{
        background-image: url("noise.webp");
        background-size: cover;
    }
    #aa3{
        background-image: url("watch.jpg");
        background-size: cover;
    }
    #aa4{
        background-image: url("light2.avif");
        background-size: cover;
    }
    #aa5{
        background-image: url("shosd.webp");
        background-size: cover;
    }
    #aa6{
        background-image: url("bed.webp");
        background-size: cover;
    }
    #aa7{
        background-image: url("SASMUNG.webp");
        background-size: cover;
    }
.xx{
    height: 554px;
       width: 450px;
    border: 2px solid black;
    margin-top: 2%;
    display: inline-block;
    background-color: white;
}
.kk{
    text-align: center;
}
#ds{
  text-align: none;
}
.cv{
    display: inline-block;
}
#mv{
    background-color: #f08804;
    font-size: 15px;
    width: 200px;
    text-align: center;
}
#ko{
    text-align: center;
    margin-top: 2px;
}
#hj{
    height: 120px;
    background-color: white;
    margin-top: 1%;
}
.to{
    height: 450px;
    width: 450px;
 border: 2px solid black;
 margin-top: 2%;
 display: inline-block;
 background-color: white;

}
.ot{
    height: 350px;
    width: 400px;
    border: 2px black;
    
    margin-left: 25px;
}
#bb8{
    background-image: url("taddy1.jpg");
    background-size: cover;

}
#bb9{
    background-image: url("game\ setap.jpg");
    background-size: cover;

}
#bb10{
    background-image: url("smart\ watch.jpg");
    background-size: cover;


}
#bb11{
    background-image: url("refresh.jpg");
    background-size: cover;


}
.vb{
    text-align: center;
}






#qq{
    height: 60px;
    width: 100%;
    background-color: #344242;
}
#qq1{
    text-align: center;
    color:white;
}
.kk1{
    height: 200px;
    width: 210px;
    display:inline-block;
}
#sk1{
    background-image: url("home1.jpeg");
    background-size: cover;

}
#sk2{
    background-image: url("home2.jpg");
    background-size: cover;
}
#sk3{
    background-image: url("home3.jpg");
    background-size: cover;
}
#sk4{
    background-image: url("home4.webp");
    background-size: cover;
}
#sk5{
    background-image: url("wl2.webp");
    background-size: cover;
}
#sk6{
    background-image: url("wl1.png");
    background-size: cover;
}
#sk7{
    background-image: url("wl3.jpg");
    background-size: cover;
}
#sk8{
    background-image: url("laptop.jpg");
    background-size:cover;
}
#sk9{
    background-image: url("cooker.jpg");
    background-size: cover;

}
#sk10{
    background-image: url("cooffe.webp");
    background-size: cover;

}
#sk11{
    background-image: url("pots.jpg");
    background-size: cover;

}
#sk12{
    background-image: url("kettel.jpg");
    background-size: cover;

}
#sk13{
    background-image: url("jeans.webp");
    background-size: cover;

}
#sk14{
    background-image: url("tops.jpeg");
    background-size: cover;

}
#sk15{
    background-image: url("dress.jpeg");
    background-size: cover;

}
#sk16{
    background-image: url("blezer.webp");
    background-size: cover;

}

.kk2{
    height: 200px;
    width: 210px;
    display:inline-block;
}
.class2{
    height: 300px;
    width: 100%px;
    background-color: rgb(162, 162, 162);
    margin-top: 2%;
   
}
#ml1{
    padding-left: 10%;
    display: inline-block;
    margin: 30px;
    
    
    
}
.ro{
    
    line-height: 0.1cm;
    color: white;
}
#mail{
    width: 100%;
    height: 400px;
    background-color: hsla(180, 7%, 44%, 0.933);
    margin-top: 0%;
    
    position: relative;

}
#bb1{
    background-image: url("lord\ of\ ring.jpeg");
    background-size: cover;
}
#cx{
   background-color:whitesmoke;
}
#bb2{
    background-image: url("the\ help.webp");
    background-size: cover;
}
#bb3{
    background-image: url("pride$Prejudice.jpeg");
    background-size: cover;

}
#bb4{
    background-image: url("Harry\ potter.jpg");
    background-size: cover;
}
#bb5{
    background-image: url("Romea\ $juliet.jpg");
    background-size: cover;
}
#bb6{
    background-image: url("scarlet.jpg");
    background-size: contain;
}
#bb7{
    background-image: url("young\ girl.jpg");
    background-size: cover;
}








    
